{% extends 'base.html' %}

{% block title %}Assignments{% endblock %}
{% block page_title %}Assignments{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-6 mb-4">
        <div class="card p-4">
            <h5>Machine Learning Assignment</h5>
            <p>Deadline: 20 May 2026</p>
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="card p-4">
            <h5>DBMS Project</h5>
            <p>Deadline: 25 May 2026</p>
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>

</div>

{% endblock %}